.recurso-grupo {
    padding: 10px 10px 0px 10px;

    .grupo-nome {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        font-size: var(--subtitulo-size);
        padding-bottom: 2px;
        padding-left: 10px;
    }
    
    .grupo-itens {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        padding: 0px 15px;
    }
}