.paginator {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 98vw;

    .buttons {
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        flex-grow: 3;

        .info {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .page-size-selector {
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;

        span {
            white-space: nowrap;
            margin-right: 20px;            
        }

        mat-select {
            color: var(--text-color);
            width: 80px;
            text-align: center;
        }
    }
}

::ng-deep .mat-mdc-select-arrow {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-select-panel {
    background-color: var(--background-color) !important;
}

::ng-deep .mat-mdc-option {
    color: var(--text-color) !important;
}

::ng-deep .mdc-list-item--selected {
    background-color: var(--secondary-color) !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--inverted-text-color) !important;
}

::ng-deep .mat-mdc-option .mat-pseudo-checkbox {
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: var(--inverted-text-color) !important;
}

::ng-depp .mat-sort-header-arrow {
    color: var(--text-color) !important;
}