<app-base [title]="titulo" [actions]="acoesTela" [goBackFn]="goBackFn.bind(this)">
  <div body-content>
    <div class="form" [formGroup]="form">
      <p-iftalabel class="w-50">
        <input pInputText id="nomeUsuario" formControlName="nome" />
        <label for="nomeUsuario" i18n>Nome</label>
        <small *ngIf="isControlInvalid('nome')"
          i18n>Esse campo não pode ser em branco.</small
        >
      </p-iftalabel>
      <p-iftalabel class="w-50">
        <input pInputText id="loginUsuario" formControlName="login" />
        <label for="loginUsuario" i18n>Login</label>
        <small *ngIf="isControlInvalid('login')"
          i18n>Esse campo não pode ser em branco.</small
        >
      </p-iftalabel>
      <p-iftalabel class="w-50">
        <input
          pInputText
          id="senhaUsuario"
          formControlName="senha"
          type="password"
        />
        <label for="senhaUsuario" i18n>Senha</label>
      </p-iftalabel>
    </div>
  </div>
</app-base>
