<app-base [titulo]="titulo" [acoes]="acoesTela">
  <div body-content>
    <filter-component
      [filters]="filtros"
      [hidden]="hideFilters"
      (doFilter)="filtrar($event)"
      (cancel)="cancelar()"
    ></filter-component>
    <table-component
      [columnDefinition]="colunas"
      [dataSource]="usuariosList"
      [actions]="acoesTabela"
      (sortingEvent)="ordenar($event)"
    ></table-component>
  </div>

  <div footer-content>
    <paginator-component
      (paginationEvent)="paginar($event)"
      [itemsPerPage]="itensPorPagina"
      [totalRegisters]="totalElements"
    ></paginator-component>
  </div>
</app-base>
